<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="src_whole">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0016597 -4.3961E-06 -0.0041776"
        rpy="0 0 0" />
      <mass
        value="0.75139" />
      <inertia
        ixx="0.0010428"
        ixy="-5.7481E-07"
        ixz="1.2257E-05"
        iyy="0.00092792"
        iyz="1.0592E-07"
        izz="0.0012549" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="RP_link">
    <inertial>
      <origin
        xyz="0.0038843 -1.1976E-07 0.027759"
        rpy="0 0 0" />
      <mass
        value="0.032185" />
      <inertia
        ixx="8.1509E-06"
        ixy="2.6555E-22"
        ixz="2.5914E-09"
        iyy="6.7466E-06"
        iyz="2.4212E-11"
        izz="9.2429E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RP_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RP_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RP"
    type="revolute">
    <origin
      xyz="-0.0085875 -0.049942 -0.11568"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RP_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RPm_Link">
    <inertial>
      <origin
        xyz="-0.019927 2.638E-05 -0.014808"
        rpy="0 0 0" />
      <mass
        value="0.18625" />
      <inertia
        ixx="7.3206E-05"
        ixy="2.1305E-09"
        ixz="-8.425E-07"
        iyy="6.5856E-05"
        iyz="3.6064E-07"
        izz="4.4648E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RPm_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RPm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RPm"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="RP_link" />
    <child
      link="RPm_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RPd_Link">
    <inertial>
      <origin
        xyz="0.0052288 -3.1661E-05 -0.087344"
        rpy="0 0 0" />
      <mass
        value="0.15516" />
      <inertia
        ixx="8.6755E-05"
        ixy="-2.1454E-09"
        ixz="6.58E-06"
        iyy="7.9237E-05"
        iyz="3.6064E-07"
        izz="3.7712E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RPd_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79608 0.82353 0.93725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RPd_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RPd"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="RPm_Link" />
    <child
      link="RPd_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RK_Link">
    <inertial>
      <origin
        xyz="0.011128 1.9486E-07 -0.046701"
        rpy="0 0 0" />
      <mass
        value="0.076683" />
      <inertia
        ixx="8.1384E-05"
        ixy="-5.3754E-13"
        ixz="-6.8263E-06"
        iyy="8.6027E-05"
        iyz="-1.5763E-12"
        izz="1.2623E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RK_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.96863 0.96863 0.96863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RK_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RK"
    type="revolute">
    <origin
      xyz="0.0008 0 -0.12"
      rpy="0 0 0" />
    <parent
      link="RPd_Link" />
    <child
      link="RK_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RAP_Link">
    <inertial>
      <origin
        xyz="-0.019927 -3.5076E-05 0.014808"
        rpy="0 0 0" />
      <mass
        value="0.18625" />
      <inertia
        ixx="7.3206E-05"
        ixy="-2.1306E-09"
        ixz="8.425E-07"
        iyy="6.5856E-05"
        iyz="3.6064E-07"
        izz="4.4648E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RAP_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RAP_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RAP"
    type="revolute">
    <origin
      xyz="-0.00079565 0 -0.12"
      rpy="0 0 0" />
    <parent
      link="RK_Link" />
    <child
      link="RAP_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RAR_Link">
    <inertial>
      <origin
        xyz="-0.0266 -2.1011E-08 -0.019713"
        rpy="0 0 0" />
      <mass
        value="0.0084038" />
      <inertia
        ixx="2.5925E-06"
        ixy="-1.2568E-22"
        ixz="-1.2942E-22"
        iyy="1.3986E-06"
        iyz="1.2106E-11"
        izz="1.2289E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RAR_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.92549 0.92549 0.92549 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RAR_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RAR"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="RAP_Link" />
    <child
      link="RAR_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RS_Link">
    <inertial>
      <origin
        xyz="0.0047189 -0.0068892 0.0070711"
        rpy="0 0 0" />
      <mass
        value="0.14508" />
      <inertia
        ixx="0.00011554"
        ixy="3.6327E-13"
        ixz="-1.4699E-12"
        iyy="0.0002103"
        iyz="-1.3291E-06"
        izz="0.00031871" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RS_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RS_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RS"
    type="revolute">
    <origin
      xyz="0.00079565 0 -0.05"
      rpy="0 0 0" />
    <parent
      link="RAR_Link" />
    <child
      link="RS_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LP_Link">
    <inertial>
      <origin
        xyz="0.0038843 -1.1976E-07 0.027759"
        rpy="0 0 0" />
      <mass
        value="0.032185" />
      <inertia
        ixx="8.1509E-06"
        ixy="-3.4128E-22"
        ixz="2.5914E-09"
        iyy="6.7466E-06"
        iyz="2.4212E-11"
        izz="9.2429E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LP_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LP_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LP"
    type="revolute">
    <origin
      xyz="-0.0085875 0.050058 -0.11568"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LP_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LPm_Link">
    <inertial>
      <origin
        xyz="-0.0199274437208582 2.63799340881159E-05 -0.0148075586222277"
        rpy="0 0 0" />
      <mass
        value="0.186246782923583" />
      <inertia
        ixx="7.32062294794612E-05"
        ixy="2.13048548408462E-09"
        ixz="-8.42502475240223E-07"
        iyy="6.5855652034397E-05"
        iyz="3.6064211899651E-07"
        izz="4.46475355146299E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LPm_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LPm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LPm"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="LP_Link" />
    <child
      link="LPm_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LPd_Link">
    <inertial>
      <origin
        xyz="0.00522878146276717 -3.16609468157154E-05 -0.0873435911372789"
        rpy="0 0 0" />
      <mass
        value="0.155158404166415" />
      <inertia
        ixx="8.67547471770679E-05"
        ixy="-2.14540531371321E-09"
        ixz="6.57998968532937E-06"
        iyy="7.92367440815385E-05"
        iyz="3.60637120742753E-07"
        izz="3.77121677268322E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LPd_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LPd_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LPd"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="LPm_Link" />
    <child
      link="LPd_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LK_Link">
    <inertial>
      <origin
        xyz="0.0111276747678033 1.94862065386325E-07 -0.0467011594340601"
        rpy="0 0 0" />
      <mass
        value="0.0766833061478168" />
      <inertia
        ixx="8.13835258979848E-05"
        ixy="-5.3753940049853E-13"
        ixz="-6.82632129314703E-06"
        iyy="8.60266643258083E-05"
        iyz="-1.57628398340406E-12"
        izz="1.2622932439864E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LK_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.968627450980392 0.968627450980392 0.968627450980392 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LK_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LK"
    type="revolute">
    <origin
      xyz="0.0008 0 -0.12"
      rpy="0 0 0" />
    <parent
      link="LPd_Link" />
    <child
      link="LK_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LAP_Link">
    <inertial>
      <origin
        xyz="-0.0199274436970726 -3.50764599975489E-05 0.0148075586274029"
        rpy="0 0 0" />
      <mass
        value="0.186246783228343" />
      <inertia
        ixx="7.3206229639809E-05"
        ixy="-2.13055245059606E-09"
        ixz="8.42502485765701E-07"
        iyy="6.58556520206296E-05"
        iyz="3.60642133292609E-07"
        izz="4.46475355735441E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LAP_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LAP_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LAP"
    type="revolute">
    <origin
      xyz="-0.00079565 0 -0.12"
      rpy="0 0 0" />
    <parent
      link="LK_Link" />
    <child
      link="LAP_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LAR_Link">
    <inertial>
      <origin
        xyz="-0.0265999999999998 2.10111819470837E-08 -0.0197134610159774"
        rpy="0 0 0" />
      <mass
        value="0.00840381240077212" />
      <inertia
        ixx="2.59254240262507E-06"
        ixy="-2.03594544858161E-22"
        ixz="1.87534589317395E-22"
        iyy="1.3986189914568E-06"
        iyz="-1.21059550544972E-11"
        izz="1.22893929617148E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LAR_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.925490196078431 0.925490196078431 0.925490196078431 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LAR_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LAR"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="LAP_Link" />
    <child
      link="LAR_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LS_Link">
    <inertial>
      <origin
        xyz="0.00471890565254696 0.00668999646805382 0.0070711085407022"
        rpy="0 0 0" />
      <mass
        value="0.145082768731353" />
      <inertia
        ixx="0.000115541639630402"
        ixy="3.63269540067987E-13"
        ixz="1.46992094570901E-12"
        iyy="0.000210296977122793"
        iyz="1.32915560839557E-06"
        izz="0.000318707327283813" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LS_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LS_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LS"
    type="revolute">
    <origin
      xyz="0.00079565 0 -0.05"
      rpy="0 0 0" />
    <parent
      link="LAR_Link" />
    <child
      link="LS_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RSHP_Link">
    <inertial>
      <origin
        xyz="5.05358310753934E-10 -0.0102484524413763 -0.00163770551812467"
        rpy="0 0 0" />
      <mass
        value="0.0144695012225896" />
      <inertia
        ixx="2.03926408348208E-06"
        ixy="-6.3954969169707E-13"
        ixz="-8.85004251820847E-14"
        iyy="6.57716531687297E-06"
        iyz="-2.36867353157236E-07"
        izz="6.75696022924945E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RSHP_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RSHP_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RSHP"
    type="revolute">
    <origin
      xyz="0.033212 -0.088193 0.054616"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RSHP_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RSHR_Link">
    <inertial>
      <origin
        xyz="-0.0233452115729359 -0.000684322196430803 -0.0791778498091477"
        rpy="0 0 0" />
      <mass
        value="0.146207436573997" />
      <inertia
        ixx="8.16862265605305E-05"
        ixy="4.8821602018686E-08"
        ixz="1.76669643053293E-06"
        iyy="7.43474727120352E-05"
        iyz="-1.52347697892699E-06"
        izz="3.46704833049691E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RSHR_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RSHR_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RSHR"
    type="revolute">
    <origin
      xyz="0.020275 -0.025656 -0.01045"
      rpy="0 0 0" />
    <parent
      link="RSHP_Link" />
    <child
      link="RSHR_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RE_Link">
    <inertial>
      <origin
        xyz="0.0115140885327483 0.0202750000000001 -0.0540071318642939"
        rpy="0 0 0" />
      <mass
        value="0.0259694911902397" />
      <inertia
        ixx="3.68213111100012E-05"
        ixy="4.73793030927533E-20"
        ixz="7.15914463101271E-07"
        iyy="3.12346533384092E-05"
        iyz="1.72746610222329E-20"
        izz="6.75949596292807E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RE_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/RE_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RE"
    type="revolute">
    <origin
      xyz="-0.02075 -0.02075 -0.1231"
      rpy="0 0 0" />
    <parent
      link="RSHR_Link" />
    <child
      link="RE_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LSHP_Link">
    <inertial>
      <origin
        xyz="-5.05358643820841E-10 0.0102484524413764 -0.00163770551812472"
        rpy="0 0 0" />
      <mass
        value="0.0144695012225895" />
      <inertia
        ixx="2.03926408348207E-06"
        ixy="-6.39549689320741E-13"
        ixz="8.85004270467586E-14"
        iyy="6.57716531687295E-06"
        iyz="2.36867353157235E-07"
        izz="6.75696022924943E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LSHP_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LSHP_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LSHP"
    type="revolute">
    <origin
      xyz="0.033212 0.088307 0.054616"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LSHP_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LSHR_Link">
    <inertial>
      <origin
        xyz="-0.0207397777704541 1.02222295450954E-05 -0.0612187136226038"
        rpy="0 0 0" />
      <mass
        value="0.123123831871186" />
      <inertia
        ixx="4.41336395130152E-05"
        ixy="1.41884862487717E-10"
        ixz="-1.13936180735272E-07"
        iyy="4.1405112121774E-05"
        iyz="1.08534075577797E-07"
        izz="2.93256792907984E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LSHR_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LSHR_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LSHR"
    type="revolute">
    <origin
      xyz="0.020275 0.025656 -0.01045"
      rpy="0 0 0" />
    <parent
      link="LSHP_Link" />
    <child
      link="LSHR_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LE_Link">
    <inertial>
      <origin
        xyz="3.33066907387547E-16 -0.0202749952457634 -0.0785896598029448"
        rpy="0 0 0" />
      <mass
        value="0.0479318072746173" />
      <inertia
        ixx="7.80085387978043E-05"
        ixy="7.08556284351143E-20"
        ixz="1.52370046308185E-19"
        iyy="7.27678062360127E-05"
        iyz="1.80117770119725E-12"
        izz="2.1793610322629E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LE_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/LE_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LE"
    type="revolute">
    <origin
      xyz="-0.02075 0.02075 -0.1231"
      rpy="0 0 0" />
    <parent
      link="LSHR_Link" />
    <child
      link="LE_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="NY_Link">
    <inertial>
      <origin
        xyz="-0.00846104357244815 -1.48520606417513E-06 -0.0111755305906017"
        rpy="0 0 0" />
      <mass
        value="0.0588745430981537" />
      <inertia
        ixx="1.41764433677202E-05"
        ixy="1.41874516285518E-09"
        ixz="-1.8275560053619E-07"
        iyy="1.41936987818952E-05"
        iyz="2.61312463555199E-12"
        izz="1.67049454933915E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/NY_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/NY_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="NY"
    type="revolute">
    <origin
      xyz="0.038812 5.7474E-05 0.086566"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="NY_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="NP_Link">
    <inertial>
      <origin
        xyz="-0.000876154267045903 0.019782194687634 0.0385017098571392"
        rpy="0 0 0" />
      <mass
        value="0.140815797076505" />
      <inertia
        ixx="0.000130899546914091"
        ixy="-3.21261177172063E-07"
        ixz="1.07462455995031E-07"
        iyy="2.57792831914021E-05"
        iyz="-5.11711883900831E-07"
        izz="0.000128105315305169" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/NP_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://src_whole/meshes/NP_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="NP"
    type="revolute">
    <origin
      xyz="0 -0.020275 0.0295"
      rpy="0 0 0" />
    <parent
      link="NY_Link" />
    <child
      link="NP_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>